---
import PostLayout from "@/layouts/PostLayout.astro";
import ImageCard from "@/components/ImageCard.astro";

import image from "@/assets/images/posts/via-degli-dei/via-degli-dei.jpg";
import sanLucaImg from "@/assets/images/posts/via-degli-dei/IMG20210515095607.jpg";
import sanLuca2Img from "@/assets/images/posts/via-degli-dei/IMG_20210521_181456.jpg";
import sanLucaViewImg from "@/assets/images/posts/via-degli-dei/IMG20210515094623.jpg";
import vizzanoBridgeImg from "@/assets/images/posts/via-degli-dei/IMG20210515125118.jpg";
import mountainImg from "@/assets/images/posts/via-degli-dei/IMG20210516120123.jpg";
import signImg from "@/assets/images/posts/via-degli-dei/IMG20210517121557.jpg";
import borderImg from "@/assets/images/posts/via-degli-dei/IMG20210518103718.jpg";
import viaFlaminiaImg from "@/assets/images/posts/via-degli-dei/IMG20210518104550.jpg";
import viaFlaminia2Img from "@/assets/images/posts/via-degli-dei/IMG20210518124509.jpg";
import viaFlaminiaSignImg from "@/assets/images/posts/via-degli-dei/IMG20210518104607.jpg";
import landscapeImg from "@/assets/images/posts/via-degli-dei/IMG20210520114728.jpg";
import florenceCathedralImg from "@/assets/images/posts/via-degli-dei/IMG20210521113114.jpg";

export const metadata = {
  title: "Via degli Dei",
  description:
    "An account of my journey along the Via degli Dei, a historic trail in Italy.",
  date: "2021-05-30",
  author: "Andrew Wolf",
  image: image,
  tags: ["travel", "hiking", "Italy"],
};
---

<PostLayout
  content={{
    title: metadata.title,
    description: metadata.description,
    date: metadata.date,
  }}
>
  <section class="py-12">
    <p>
      The Via degli Dei (Path of the Gods) crosses the Apennines connecting
      Bologna to Florence. The name derives from the place names of some
      mountains crossed: Monte Venere (Mount Venus), Monte Adone (Mount Adonis)
      and Monte Luario. The trail retraces the paths used in the Middle Ages and
      even earlier by the Romans through what some identify as the Via Flaminia,
      built in 187 BC. In some points, in fact, you walk right on the ancient
      road pavements still surviving after 2000 years of history. The trail is
      about 130 km long and I covered it in 6 stages starting from Bologna:
      Sasso Marconi, Monzuno, Madonna dei Fornelli, Sant'Agata, Tagliaferro,
      Florence. These are some photos I took in May 2021. Unfortunately I took
      them all with my phone.
    </p>
  </section>
  <section>
    <ImageCard
      description="The Sanctuary of the Madonna di San Luca, just outside Bologna"
      image={sanLucaImg}
      alt="San Luca Sanctuary"
    />
    <ImageCard
      description="The Sanctuary of the Madonna di San Luca, just outside Bologna"
      image={sanLuca2Img}
      alt="San Luca Sanctuary"
    />
    <ImageCard
      description="The view from the sanctuary"
      image={sanLucaViewImg}
      alt="View from San Luca Sanctuary"
      />
      <ImageCard
        description="The Vizzano bridge over the Reno river"
        image={vizzanoBridgeImg}
        alt="Vizzano Bridge"
      />
    <ImageCard
      description=""
      image={mountainImg}
      alt=""
    />
    <ImageCard
      description="A sign along the route"
      image={signImg}
      alt="A sign along the route"
    />
    <ImageCard
      description="The border between Emilia Romagna and Tuscany"
      image={borderImg}
      alt="Border between Emilia Romagna and Tuscany"
    />
    <ImageCard
      description="The Via Flaminia pavement"
      image={viaFlaminiaImg}
      alt="Ancent Rome pavement"
    />
    <ImageCard
      description="The Via Flaminia pavement"
      image={viaFlaminia2Img}
      alt="Ancent Rome pavement"
    />
    <ImageCard
      description=""
      image={viaFlaminiaSignImg}
      alt="Sign on the Via Flaminia"
    />
    <ImageCard
      description=""
      image={landscapeImg}
      alt="Tuscany landscape"
    />
    <ImageCard
      description="The Florence Cathedral"
      image={florenceCathedralImg}
      alt="The Florence Cathedral"
    />
  </section>
</PostLayout>
